<%
var widgetId = "unbxd-recommender-" + Math.floor((Math.random()*100000)+1) + "";
var noOfItems = typeof(noOfItems) != 'undefined' ? noOfItems : 2;

var showHeader = typeof(showHeader) != 'undefined' ? showHeader : true;
if(showHeader == 'true') showHeader = true;
if(showHeader == 'false') showHeader = false;

var headerHeight = showHeader ? 50 : 0;

var description = typeof(description) != 'undefined' ? description : [];
var wrapperHeight = noOfItems * (150 + 10 + (description.length * 40));

var widgetSize = typeof(widgetSize) != 'undefined' ? widgetSize : {};
widgetSize.maxHeight = wrapperHeight + headerHeight + 40;

var heading = (typeof(header) != 'undefined' && header['value'] ? header.value : null)
				|| (titles[boxType] + (typeof(location) != 'undefined' ? (" IN " + location.toUpperCase()) : "")) 
				|| "Recommendations";
%>

<link rel="stylesheet" type="text/css" href="//d21gpk1vhmjuf5.cloudfront.net/embed.css">
<style type="text/css">
#<%= widgetId%>
{
	background-color: <%= typeof(background) != 'undefined' ? background : "transparent"%>;
}
<%
	if(widgetSize && widgetSize.width){
		if(widgetSize.width > 100){
			var widgetWidth = widgetSize.width + 'px';
		}else{
			var widgetWidth = widgetSize.width + '%';
		}
%>
		#<%= widgetId%>
		{
		   width : <%= widgetWidth%>;
		}
		#<%= widgetId%> > * > * > * > .unbxd-imgContainer
		{
		   width : 50%;
		}
		#<%= widgetId%> .unbxd-desc
		{
		   width : 50% !important;
		}
<%
	}
	if(noOfItems){
    	var imageContainerHeight = Math.floor(wrapperHeight / noOfItems) - 10;
    	var imageHeight = imageContainerHeight - (description.length == 0 ? 80 : (description.length * 40));
    	if(imageHeight < 0) 
    		imageHeight = 0;

    	if(widgetSize && widgetSize.maxHeight){
%>
			#<%= widgetId%>
			{
			   /*height : <%= widgetSize.maxHeight%>px;*/
			}
<%
		}
%>
		#<%= widgetId%> .unbxd-wrapperVt
	    {
	    	/*height : <%= wrapperHeight%>px;*/
	    }
	    #<%= widgetId%> .unbxd-imgContainer
	    {
	       float: none;
	       display: block;
	       width: 100%;
	       max-height : <%= imageHeight%>px;
	    }
	    #<%= widgetId%> .unbxd-imgContainer .unbxd-img
	    {
	       max-height : <%= imageHeight%>px;
	       width: 50%;
	    }
	    #<%= widgetId%> .unbxd-imgContainer .unbxd-img > img
	    {
	       max-height : <%= imageHeight%>px;
	    }
<%
  	}

  	if(typeof(border) != 'undefined'){
%>
    	#<%= widgetId%> 
    	{
    		border-width : <%= border.size%>px;
    		border-color : <%= border.color%>;
    	}
<%
  	}

  	if(typeof(header) != 'undefined'){
%>
    	#<%= widgetId%> .unbxd-headLeftVt .unbxd-class1
    	{
    		font-size : <%= header.fontSize%>;
    		font-weight : <%= header.fontWeight%>;
    		text-align : <%= header.align%>;
    		color : <%= header.color%>;
    	}
<%
  	}
%>
</style>
<div class="unbxd-contVt" id="<%= widgetId%>">
	<% if(showHeader) {%>
	<h3 class="section-title padding-right">
		<%= heading%>
	</h3>
	<% 
		}
	%>
	<div class="related-itemslider-wrapper itemslider-wrapper">
		<div class="unbxd-wrapperVt">
	<%
		var page_size = noOfItems || 2;
    	var num_slides = Math.floor(products.length / page_size);
    	var products_in_last_slide = products.length % page_size;
      	if(products_in_last_slide > 0) num_slides = num_slides + 1;
      	for(var i = 0; i < num_slides; i++){
    %>
    	<div class="unbxd-slideVt">
    <%
    		for(var j = 0; j < page_size; j++){
	        	var index = (i * page_size) + j;
	        	if(products.length > index){
	        		var product = products[index];
	          		var image_link = product['image_link'] == undefined ? '' : product['image_link'][0];
	          		var item_link = product['item_link'] || '#';

	          		if(item_link.indexOf('http') !== 0 && item_link.indexOf('/') !== 0 )
	          			item_link = '/' + item_link;

	          		var sourceAttrString = typeof(sourceAttr) != 'undefined' && typeof(sourceAttrValue) != 'undefined' ? sourceAttr + "='" + sourceAttrValue + "'" : "";
    %>
	        		<li class="unbxd-imgContainer" unbxdparam_sku="<%= product['pid']%>" unbxdparam_prank="<%= index + 1%>" unbxdattr="product" unbxdparam_boxtype="<%= boxType%>" <%= sourceAttrString%>>
						<div class="unbxd-img unbxd-field-image_link">
							<a href="<%= item_link%>" class="product-image">
							<img src="<%= image_link%>"></a>
						</div>
	<%
						if(description != undefined && description.length > 0){
							for(var k = 0; k < description.length; k++){
								var desc = description[k];
								var styleStr = "font-size: " + desc['fontSize'] + "; font-weight: " + desc['fontWeight'] + "; text-align: " + desc['float'] + ";"
								var isLast = (k == description.length - 1);

          			if(desc.fieldName == 'price'){
          				var currency = desc['currency'] || product['currency'] || "USD"
          				var currencySym = currencyCodes[currency.trim()] || currency;
	%>
									<div class="unbxd-desc unbxd-field-<%= desc.fieldName%>" style="<%= styleStr%>">
										<div class="price-box">
										<%
										if(product['final_price'] < product['price']){
										%>
											<p class="old-price">
										<%
										} else {
										%>
											<p>
										<%
										}
										%>
										<span class="price-label">Regular Price:</span>
										<span class="price" id="old-price-1585-new">
											<%= currencySym%><%= isNaN(product[desc['fieldName']]) ? product[desc['fieldName']] : parseFloat(product[desc['fieldName']]).toFixed(2)%>
										</span>
										</p>
										<%
										if(product['final_price'] < product['price']){
										%>
										<p class="special-price">
			                <span class="price-label">Special Price</span><br>
			                <span class="price" id="product-price-799-new">
			                	<%= currencySym%><%= isNaN(product['final_price']) ? product['final_price'] : parseFloat(product['final_price']).toFixed(2)%>
			                    </span>
			            		</p>
			            	<%
			            	}
			            	%>
			            </div>
									</div>
	<%
								}else{
	%>
									<div class="unbxd-desc unbxd-field-<%= desc.fieldName%>" style="<%= styleStr%>">
										<h3 class="product-name">
											<a href="<%= item_link%>">
												<%= product[desc['fieldName']]%>
											</a>
										</h3>
									</div>
	<%
								}			
							}
						}
	%>
					</li>
	<%				
				}
			}
	%>
		</div>
	<%
		}
	%>
    	
		</div>
	</div>
</div>
<script type="text/javascript">(function($){
	var widgetId = "<%= widgetId%>";
	
	// Scroll vars
	// Scroll vars
    var currentPositionVt = 0;
    var slideHeight = <%= (widgetSize ? widgetSize.maxHeight - headerHeight - 40 : null) || 460 %>;
    var slidesVert = $('#' + widgetId + ' .unbxd-slideVt');
    var numberOfSlidesVt = slidesVert.length;
    
    // Remove scrollbar in JS
    $('#' + widgetId + ' .unbxd-wrapperVt').css('overflow', 'hidden');
    
    // Wrap all .slides with #slideInner div
    slidesVert//.wrapAll('<div id="slideInner1"></div>')
    // Float left to display horizontally, readjust .slides width
    .css({
      'float' : 'left',
      // 'height' : slideHeight
    });
    
    // Set #slideInner width equal to total width of all slides
    // $('#' + widgetId + ' #slideInner1').css('height', slideHeight * numberOfSlidesVt);
    
  //   $('#' + widgetId + " .itemslider-wrapper")
		// 	.prepend('<div class="nav-wrapper gen-slider-arrows1 gen-slider-arrows1-pos-top-right">' +
	 //    '<ul class="direction-nav">' +
	 //    '<li><a class="prev unbxd-control disabled" id="arrowLeft">Previous</a></li>' +
	 //    '<li><a class="next unbxd-control" id="arrowRight">Next</a></li>' +
	 //    '</ul></div>');
	  
		// // Hide left arrow control on first load
		// manageControlsVt(currentPositionVt);
		
		// // Create event listeners for .controls clicks
		// $('#' + widgetId + ' .unbxd-control').bind('click', function(){
		//   // Determine new position
		//   if(!$(this).hasClass('disabled')){
		// 	  currentPositionVt = ($(this).attr('id')=='arrowRight') ? currentPositionVt + 1 : currentPositionVt - 1;
			  
		// 	  // Hide / show controls
		// 	  manageControlsVt(currentPositionVt);
			  
		// 	  // Move slideInner using margin-left
		// 	  $('#' + widgetId + ' #slideInner').animate({
		// 	    'marginLeft' : 100*(-currentPositionVt) + '%'
		// 	  });
		// 	}
		// });
		
		// // manageControls: Hides and shows controls depending on currentPosition
		// function manageControlsVt(position){
		//   // Hide left arrow if position is first slide
		//   if(position == 0){ 
		//     $('#' + widgetId + ' #arrowLeft').addClass('disabled');
		//     // $('#' + widgetId + ' #arrowLeftInactive').show();
		//     // $('#' + widgetId + ' #arrowRightInactive').hide();
		//   }else{
		//     $('#' + widgetId + ' #arrowLeft').removeClass('disabled');
		//     // $('#' + widgetId + ' #arrowLeftInactive').hide(); 
		//   }
		  
		//   // Hide right arrow if position is last slide
		//   if(position==numberOfSlidesVt-1){ 
		//     $('#' + widgetId + ' #arrowRight').addClass('disabled'); 
		//     // $('#' + widgetId + ' #arrowLeftInactive').hide(); 
		//     // $('#' + widgetId + ' #arrowRightInactive').show(); 
		//   }else{ 
		//     $('#' + widgetId + ' #arrowRight').removeClass('disabled');  
		//     // $('#' + widgetId + ' #arrowRightInactive').hide();
		//   }
		// }
	})(jQuery);  
</script>